<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <header th:replace="~{fragments/header :: header}"></header>
</head>
<body>

<!-- ======= Navigation ======= -->
<div th:replace="~{dashboard/fragments/navigation :: #navigation}"></div>

<main>
    <div class="container pt-4">
        <section class="mb-4">
            <div id="itemCard" class="card">
                <div class="card-header py-4 title-bar">
                    <div th:replace="~{fragments/breadcrumb :: breadcrumb}"></div>
                    <div class="page-title"
                         th:text="#{student.view} + ' ' + ${student.id}">
                    </div>
                </div>
                <div class="card-body">
                    <!-- ======= Buttons ======= -->
                    <div class="d-flex mb-4">
                        <div class="p-1">
                            <div th:replace="~{student/buttons :: btn-go-back-to-students}"></div>
                        </div>
                        <div sec:authorize="hasAnyRole('ROLE_DEAN', 'ROLE_ADMIN')" class="p-1 ms-auto">
                            <div th:replace="~{student/buttons :: btn-edit}"></div>
                            <div sec:authorize="hasRole('ROLE_ADMIN')"
                                 th:replace="~{student/buttons :: btn-delete}"></div>
                        </div>
                    </div>
                    <!-- ======= Student Details ======= -->
                    <div th:replace="~{student/elements :: view-student}"></div>
                </div>
            </div>
        </section>
    </div>
</main>

<!-- JS Scripts -->
<div th:replace="~{fragments/scripts :: scripts}"></div>
</body>
</html>