<header id="navigation" xmlns:sec="http://www.w3.org/1999/xhtml">
    <!-- ======= Sidebar ======= -->
    <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
        <div class="position-sticky">
            <div class="list-group list-group-flush mx-3 mt-4">
                <!--* Main Dashboard *-->
                <a th:if="${#ctx.springRequestContext.requestUri.toString().equals('/dashboard')}"
                   th:href="@{/dashboard}"
                   class="list-group-item list-group-item-action py-2 ripple active" aria-current="true">
                    <i class="fa-solid fa-gauge-high fa-fw me-3"></i><span
                        th:text="#{dashboard.navigation.sidebar.item1}"></span>
                </a>
                <a th:unless="${#ctx.springRequestContext.requestUri.toString().equals('/dashboard')}"
                   th:href="@{/dashboard}"
                   class="list-group-item list-group-item-action py-2 ripple">
                    <i class="fa-solid fa-gauge-high fa-fw me-3"></i><span
                        th:text="#{dashboard.navigation.sidebar.item1}"></span>
                </a>
                <!--* Students *-->
                <a th:if="${#ctx.springRequestContext.requestUri.toString().contains('students')}"
                   th:href="@{/dashboard/students}"
                   sec:authorize="hasAnyRole('ROLE_TEACHER', 'ROLE_DEAN', 'ROLE_ADMIN')"
                   class="list-group-item list-group-item-action py-2 ripple active" aria-current="true"><i
                        class="fas fa-users fa-fw me-3"></i><span
                        th:text="#{dashboard.navigation.sidebar.item2}"></span>
                </a>
                <a th:unless="${#ctx.springRequestContext.requestUri.toString().contains('students')}"
                   th:href="@{/dashboard/students}"
                   sec:authorize="hasAnyRole('ROLE_TEACHER', 'ROLE_DEAN', 'ROLE_ADMIN')"
                   class="list-group-item list-group-item-action py-2 ripple">
                    <i class="fas fa-users fa-fw me-3"></i>
                    <span th:text="#{dashboard.navigation.sidebar.item2}"></span>
                </a>
                <!--* Teachers *-->
                <a th:if="${#ctx.springRequestContext.requestUri.toString().contains('teachers')}"
                   th:href="@{/dashboard/teachers}"
                   class="list-group-item list-group-item-action py-2 ripple active">
                    <i class="fas fa-user fa-fw me-3"></i><span th:text="#{dashboard.navigation.sidebar.item3}"></span>
                </a>
                <a th:unless="${#ctx.springRequestContext.requestUri.toString().contains('teachers')}"
                   th:href="@{/dashboard/teachers}"
                   class="list-group-item list-group-item-action py-2 ripple">
                    <i class="fas fa-user fa-fw me-3"></i><span th:text="#{dashboard.navigation.sidebar.item3}"></span>
                </a>
                <!--* Subjects *-->
                <a th:if="${#ctx.springRequestContext.requestUri.toString().contains('subjects') && !#ctx.springRequestContext.requestUri.toString().contains('fields-of-study/')}"
                   th:href="@{/dashboard/subjects}" class="list-group-item list-group-item-action py-2 ripple active">
                    <i class="fas fa-microscope fa-fw me-3"></i><span
                        th:text="#{dashboard.navigation.sidebar.item6}"></span>
                </a>
                <a th:unless="${#ctx.springRequestContext.requestUri.toString().contains('subjects')&& !#ctx.springRequestContext.requestUri.toString().contains('fields-of-study/')}"
                   th:href="@{/dashboard/subjects}" class="list-group-item list-group-item-action py-2 ripple">
                    <i class="fas fa-microscope fa-fw me-3"></i><span
                        th:text="#{dashboard.navigation.sidebar.item6}"></span>
                </a>
                <!--* Fields of Study *-->
                <a th:if="${#ctx.springRequestContext.requestUri.toString().contains('fields-of-study')}"
                   th:href="@{/dashboard/fields-of-study}"
                   class="list-group-item list-group-item-action py-2 ripple active"><i
                        class="fas fa-graduation-cap fa-fw me-3"></i><span
                        th:text="#{dashboard.navigation.sidebar.item7}"></span>
                </a>
                <a th:unless="${#ctx.springRequestContext.requestUri.toString().contains('fields-of-study')}"
                   th:href="@{/dashboard/fields-of-study}"
                   class="list-group-item list-group-item-action py-2 ripple"><i
                        class="fas fa-graduation-cap  fa-fw me-3"></i><span
                        th:text="#{dashboard.navigation.sidebar.item7}"></span>
                </a>
                <!--* Facilities *-->
                <a th:href="@{/dashboard/departments}"
                   th:if="${#ctx.springRequestContext.requestUri.toString().contains('departments')}"
                   class="list-group-item list-group-item-action py-2 ripple active"><i
                        class="fas fa-school fa-fw me-3"></i><span
                        th:text="#{dashboard.navigation.sidebar.item9}"></span>
                </a>
                <a th:href="@{/dashboard/departments}"
                   th:unless="${#ctx.springRequestContext.requestUri.toString().contains('departments')}"
                   class="list-group-item list-group-item-action py-2 ripple"><i
                        class="fas fa-school fa-fw me-3"></i><span
                        th:text="#{dashboard.navigation.sidebar.item9}"></span>
                </a>
                <!--* Library *-->
                <a class="list-group-item list-group-item-action py-2 ripple active"
                   th:href="@{/dashboard/library}"
                   th:if="${#ctx.springRequestContext.requestUri.toString().contains('library')}"><i
                        class="fas fa-book-open fa-fw me-3"></i><span
                        th:text="#{dashboard.navigation.sidebar.item8}"></span>
                </a>
                <a class="list-group-item list-group-item-action py-2 ripple"
                   th:href="@{/dashboard/library}"
                   th:unless="${#ctx.springRequestContext.requestUri.toString().contains('library')}"><i
                        class="fas fa-book-open fa-fw me-3"></i><span
                        th:text="#{dashboard.navigation.sidebar.item8}"></span>
                </a>
                <!--* Calendar *-->
                <a th:href="@{/dashboard/calendar}"
                   th:if="${#ctx.springRequestContext.requestUri.toString().contains('calendar')}"
                   class="list-group-item list-group-item-action py-2 ripple active"><i
                        class="fas fa-calendar fa-fw me-3"></i><span
                        th:text="#{dashboard.navigation.sidebar.item10}"></span>
                </a>
                <a th:href="@{/dashboard/calendar}"
                   th:unless="${#ctx.springRequestContext.requestUri.toString().contains('calendar')}"
                   class="list-group-item list-group-item-action py-2 ripple"><i
                        class="fas fa-calendar fa-fw me-3"></i><span
                        th:text="#{dashboard.navigation.sidebar.item10}"></span>
                </a>
                <!--* Analytics *-->
                <a th:if="${#ctx.springRequestContext.requestUri.toString().contains('analytics')}"
                   th:href="@{/dashboard/analytics}"
                   class="list-group-item list-group-item-action py-2 ripple active"><i
                        class="fas fa-chart-line fa-fw me-3"></i><span
                        th:text="#{dashboard.navigation.sidebar.item5}"></span>
                </a>
                <a th:unless="${#ctx.springRequestContext.requestUri.toString().contains('analytics')}"
                   th:href="@{/dashboard/analytics}"
                   class="list-group-item list-group-item-action py-2 ripple"><i
                        class="fas fa-chart-line fa-fw me-3"></i><span
                        th:text="#{dashboard.navigation.sidebar.item5}"></span>
                </a>
                <!--* Settings *-->
                <a th:if="${#ctx.springRequestContext.requestUri.toString().contains('settings')}"
                   th:href="@{/dashboard/settings}"
                   class="list-group-item list-group-item-action py-2 ripple active"><i
                        class="fas fa-cog fa-fw me-3"></i><span th:text="#{dashboard.navigation.sidebar.item4}"></span>
                </a>
                <a th:unless="${#ctx.springRequestContext.requestUri.toString().contains('settings')}"
                   th:href="@{/dashboard/settings}"
                   class="list-group-item list-group-item-action py-2 ripple"><i
                        class="fas fa-cog fa-fw me-3"></i><span th:text="#{dashboard.navigation.sidebar.item4}"></span>
                </a>
                <!--* Help *-->
                <a th:if="${#ctx.springRequestContext.requestUri.toString().contains('help')}"
                   th:href="@{/dashboard/help}"
                   class="list-group-item list-group-item-action py-2 ripple active"><i
                        class="fas fa-question-circle fa-fw me-3"></i><span
                        th:text="#{dashboard.navigation.sidebar.item12}"></span>
                </a>
                <a th:unless="${#ctx.springRequestContext.requestUri.toString().contains('help')}"
                   th:href="@{/dashboard/help}"
                   class="list-group-item list-group-item-action py-2 ripple"><i
                        class="fas fa-question-circle fa-fw me-3"></i><span
                        th:text="#{dashboard.navigation.sidebar.item12}"></span>
                </a>
            </div>
        </div>
    </nav>

    <!-- ======= Navbar ======= -->
    <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Toggle button -->
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#sidebarMenu"
                    aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

            <!-- Brand -->
            <a class="navbar-brand" th:href="@{/}">
                <span th:text="#{website.title}"></span>
            </a>
            <!-- Search form -->
            <form class="d-none d-md-flex input-group w-auto my-auto">
                <input autocomplete="off" type="search" class="form-control rounded"
                       placeholder='Search' style="min-width: 225px"/>
                <span class="input-group-text border-0"><i class="fas fa-search"></i></span>
            </form>

            <!-- Right links -->
            <ul class="navbar-nav ms-auto d-flex flex-row">
                <!-- Notification dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link me-3 me-lg-0 dropdown-toggle hidden-arrow" href="#" id="notifications"
                       role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-bell"></i>
                        <span class="badge rounded-pill badge-notification bg-danger">1</span>
                    </a>
                    <ul aria-labelledby="notifications" class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="#" th:text="#{dashboard.navigation.news.item1}"></a></li>
                        <li><a class="dropdown-item" href="#" th:text="#{dashboard.navigation.news.item2}"></a></li>
                        <li><a class="dropdown-item" href="#" th:text="#{dashboard.navigation.news.item3}"></a></li>
                    </ul>
                </li>

                <!-- Icon Github-->
                <li class="nav-item me-3 me-lg-0">
                    <a class="nav-link" th:href="@{https://github.com/lyingparachute/Classroom}" target="_blank">
                        <i class="fab fa-github"></i>
                    </a>
                </li>

                <!-- Icon dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link me-3 me-lg-0 dropdown-toggle hidden-arrow" href="#" id="navbarDropdown"
                       role="button"
                       data-mdb-toggle="dropdown" aria-expanded="false">
                        <i class="flag flag-united-kingdom m-0"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item" href="#"><i class="flag flag-united-kingdom"></i><span
                                    th:text="#{dashboard.navigation.language.eng}">
                                <i class="fa fa-check text-success ms-2"></i></a>
                        </li>
                        <li>
                            <hr class="dropdown-divider"/>
                        </li>
                        <li>
                            <a class="dropdown-item" th:href="@{''(lang=pl)}">
                                <i class="flag flag-poland"></i><span
                                    th:text="#{dashboard.navigation.language.pl}"></span></a>
                        </li>
                        <li>
                            <a class="dropdown-item" th:href="@{''(lang=de)}"><i class="flag flag-germany"></i><span
                                    th:text="#{dashboard.navigation.language.de}"></a>
                        </li>

                    </ul>
                </li>

                <!-- Avatar -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle hidden-arrow d-flex align-items-center" href="#"
                       aria-expanded="false" data-mdb-toggle="dropdown" id="avatar" role="button">
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/img (31).jpg" class="rounded-circle"
                             height="22"
                             alt="" loading="lazy"/>
                    </a>
                    <ul aria-labelledby="avatar" class="dropdown-menu dropdown-menu-end">
                        <li class="dropdown-item"><span th:text="#{dashboard.navigation.avatar.profile.name}"></span>
                            <span class="fw-bold"
                                  th:text="${#authentication.principal.firstName + ' ' + #authentication.principal.lastName}">
                            </span>
                        </li>
                        <li>
                            <hr class="dropdown-divider"/>
                        </li>
                        <li><a class="dropdown-item" th:href="@{/dashboard/profile}"
                               th:text="#{dashboard.navigation.avatar.profile}"></a></li>
                        <li><a class="dropdown-item" th:href="@{/dashboard/settings}"
                               th:text="#{dashboard.navigation.avatar.settings}"></a>
                        </li>
                        <li><a class="dropdown-item"
                               data-bs-toggle="modal" data-bs-target="#signOutModal"
                               th:text="#{dashboard.navigation.avatar.logout}"></a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- Container wrapper -->
    </nav>
    <div th:replace="~{auth/elements :: sign-out-modal}"></div>
</header>