<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <header th:replace="~{fragments/header :: header}"></header>
</head>
<body>
<!-- ======= Navigation ======= -->
<div th:replace="~{dashboard/fragments/navigation :: #navigation}"></div>

<main>
    <div class="container pt-4">
        <section class="mb-4">
            <div id="itemCard" class="card">
                <div class="card-header py-4 title-bar">
                    <div th:replace="~{fragments/breadcrumb :: breadcrumb}"></div>
                    <div class="page-title"
                         th:text="#{fieldOfStudy.new}">
                    </div>
                </div>
                <div class="card-body mx-4">
                    <form class="form-group needs-validation"
                          th:action="@{/dashboard/fields-of-study/new}"
                          th:object="${fieldOfStudy}"
                          enctype="multipart/form-data"
                          th:method="post">
                        <!-- ======= FieldOfStudy Form ======= -->
                        <div th:replace="~{field-of-study/elements :: item-form}"></div>

                        <!-- ======= Buttons ======= -->
                        <div th:replace="~{field-of-study/buttons :: CREATEcancelSubmitBtn}"></div>
                    </form>
                </div>

            </div>
        </section>
    </div>
</main>

<!-- JS Scripts -->
<div th:replace="~{fragments/scripts :: scripts}"></div>
</body>
</html>