<!-- ======= Form for Subject ======= -->
<div th:fragment="subject-form">
    <div class="mb-4" th:classappend="${#fields.hasErrors('name')} ? mb-5">
        <h4 th:text="#{subject.name}"></h4>
        <div class="form-outline">
            <input class="form-control"
                   data-mdb-showcounter="true"
                   th:field="*{name}"
                   maxlength="30" th:classappend="${#fields.hasErrors('name')} ? is-invalid"
                   type="text"/>
            <div class="form-helper"></div>
            <div class="invalid-tooltip">
                <span class="mr-1" th:each="error: ${#fields.errors('name')}" th:text="${error}"></span>
            </div>
        </div>
    </div>
    <hr>
    <div class="mb-4" th:classappend="${#fields.hasErrors('description')} ? mb-5">
        <h4 th:text="#{subject.description}"></h4>
        <div class="form-outline">
            <textarea class="form-control"
                      data-mdb-showcounter="true"
                      th:field="*{description}"
                      maxlength="500" th:classappend="${#fields.hasErrors('description')} ? is-invalid"></textarea>
            <div class="form-helper"></div>
            <div class="invalid-tooltip">
                <span class="mr-1" th:each="error: ${#fields.errors('description')}" th:text="${error}"></span>
            </div>
        </div>
    </div>
    <hr>
    <div class="mb-4">
        <h4 th:text="#{subject.semester}"></h4>
        <select class="form-select"
                th:field="*{semester}">
            <option th:each="fieldOpt : ${T(com.example.classroom.enums.Semester).values()}"
                    th:text="${fieldOpt.fullName}"
                    th:value="${fieldOpt}">
            </option>
        </select>
    </div>
    <hr>
    <div class="mb-4" th:classappend="${#fields.hasErrors('hoursInSemester')} ? mb-5">
        <h4 th:text="#{subject.hoursInSemester}"></h4>
        <div class="form-outline">
            <input class="form-control"
                   th:field="*{hoursInSemester}"
                   th:classappend="${#fields.hasErrors('hoursInSemester')} ? is-invalid"
                   type="number"/>
            <div class="form-helper" th:text="#{input.helper.hoursInSemester}"
                 th:unless="${#fields.hasErrors('hoursInSemester')}"></div>
            <div class="invalid-tooltip">
                <span class="mr-1" th:each="error: ${#fields.errors('hoursInSemester')}" th:text="${error}"></span>
            </div>
        </div>
    </div>
    <hr>
    <div class="mb-4" th:classappend="${#fields.hasErrors('ectsPoints')} ? mb-5">
        <h4 th:text="#{subject.ects}"></h4>
        <div class="form-outline">
            <input class="form-control"
                   th:field="*{ectsPoints}"
                   th:classappend="${#fields.hasErrors('ectsPoints')} ? is-invalid"
                   type="number"/>
            <div class="form-helper" th:text="#{input.helper.ects}"
                 th:unless="${#fields.hasErrors('ectsPoints')}"></div>
            <div class="invalid-tooltip">
                <span class="mr-1" th:each="error: ${#fields.errors('ectsPoints')}" th:text="${error}"></span>
            </div>
        </div>
    </div>
    <hr>
    <div class="row mb-4">
        <h4 th:text="#{subject.fieldOfStudy}"></h4>
        <div class="col-sm">
            <select class="form-select" id="field_of_study" th:field="*{fieldOfStudy}">
                <option th:value="0"></option>
                <option th:each="fieldOpt : ${fieldsOfStudy}"
                        th:text="${fieldOpt.name} + ', ' +
                        ${fieldOpt.levelOfEducation.value} + ', ' +
                        ${fieldOpt.mode.value}"
                        th:value="${fieldOpt.id}">
                </option>
            </select>
        </div>
    </div>
    <hr>
    <div class="row mb-4">
        <h4 th:text="#{subject.teachers.list}"></h4>
        <div class="col-sm text-left">
            <th:block th:each="fieldOpt : ${teachers}">
                <div>
                    <input class="form-check-input m-2" type="checkbox" value="" id="teachers_list"
                           th:field="*{teachers}"
                           th:value="${fieldOpt.id}" th:text="${fieldOpt}">
                </div>
            </th:block>
        </div>
    </div>
</div>

<!-- ======= View Subject card body ======= -->
<div th:fragment="view-subject">
    <div class="mb-4">
        <h4 th:text="#{subject.name}"></h4>
        <span th:text="${subject.name}"></span>
    </div>
    <hr>
    <div class="mb-4">
        <h4 th:text="#{subject.description}"></h4>
        <span th:text="${subject.description}"></span>
    </div>
    <hr>
    <div class="mb-4">
        <h4 th:text="#{subject.hoursInSemester}"></h4>
        <span th:text="${subject.hoursInSemester}"></span>
    </div>
    <hr>
    <div class="mb-4">
        <h4 th:text="#{subject.ects}"></h4>
        <span th:text="${subject.ectsPoints}"></span>
    </div>
    <hr>
    <div class="mb-4">
        <h4 th:text="#{subject.fieldOfStudy}"></h4>
        <a class="text-body"
           th:href="@{/dashboard/fields-of-study/{id}(id=${subject.fieldOfStudy.id})}">
            <span th:text="${subject.fieldOfStudy.name}"></span>
            <i class="fas fa-regular fa-up-right-from-square"></i>
        </a>
    </div>
    <hr>
    <div class="mb-4">
        <h4 th:text="#{subject.teachers.list}"></h4>
        <span th:if="${subject.teachers.size() == 0}" th:text="#{subject.no.teachers}"></span>
        <th:block th:unless="${subject.teachers.size() == 0}" th:each="fieldOpt, count : ${subject.teachers}">
            <div class="mb-2">
                <span th:text="${count.index + 1} + '. '"></span>
                <a class="text-body"
                   th:href="@{/dashboard/teachers/{id}(id=${fieldOpt.id})}">
                <span th:text="${fieldOpt.firstName} + ' ' + ${fieldOpt.lastName}"
                      th:value="${fieldOpt.id}"></span>
                    <i class="fas fa-regular fa-up-right-from-square"></i>
                </a>
            </div>
        </th:block>
    </div>
    <hr>
    <div class="mb-4">
        <h4 th:text="#{subject.students.list}"></h4>
        <span th:if="${subject.fieldOfStudy.students.size() == 0}" th:text="#{subject.no.students}"></span>
        <th:block th:unless="${subject.fieldOfStudy.students.size() == 0}"
                  th:each="fieldOpt, count : ${subject.fieldOfStudy.students}">
            <div class="mb-2">
                <span th:text="${count.index + 1} + '. '"></span>
                <a class="text-body"
                   th:href="@{/dashboard/students/{id}(id=${fieldOpt.id})}">
                <span th:text="${fieldOpt.firstName} + ' ' + ${fieldOpt.lastName}"
                      th:value="${fieldOpt.id}"></span>
                    <i class="fas fa-regular fa-up-right-from-square"></i>
                </a>
            </div>
        </th:block>
    </div>

</div>