<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <header th:replace="~{fragments/header :: header}"></header>
</head>
<body>
<!-- ======= Navigation ======= -->
<div th:replace="~{dashboard/fragments/navigation :: #navigation}"></div>

<main>
    <div class="container pt-4">
        <section class="mb-4">
            <div id="itemCard" class="card">
                <div class="card-header py-4 title-bar">
                    <div th:replace="~{fragments/breadcrumb :: breadcrumb}"></div>
                    <div class="page-title"
                         th:text="#{subjects.new}">
                    </div>
                </div>
                <div class="card-body mx-4">
                    <form class="form-group needs-validation"
                          th:object="${subject}"
                          th:action="@{/dashboard/subjects/new}"
                          th:method="post">
                        <div th:replace="~{subject/elements :: subject-form}"></div>
                        <!-- ======= Buttons ======= -->
                        <div th:replace="~{subject/buttons :: CREATEcancelSubmitBtn}"></div>
                    </form>
                </div>
            </div>
        </section>
    </div>
</main>

<!-- JS Scripts -->
<div th:replace="~{fragments/scripts :: scripts}"></div>
</body>
</html>