<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <header th:replace="~{fragments/header :: header}"></header>
</head>
<body>
<!-- ======= Navigation ======= -->
<div th:replace="~{dashboard/fragments/navigation :: #navigation}"></div>

<main>
    <div class="container pt-4">
        <section class="mb-4">
            <div id="itemCard" class="card">
                <div class="card-header py-4 title-bar">
                    <div th:replace="~{fragments/breadcrumb :: breadcrumb}"></div>
                    <div class="page-title"
                         th:text="#{teacher.edit.header}">
                    </div>
                </div>
                <div class="card-body mx-4">
                    <form class="form-group needs-validation"
                          th:object="${teacher}"
                          th:action="@{/dashboard/teachers/update}"
                          method="post">
                        <input hidden id="id_input_id" th:field="*{id}" type="text">
                        <div th:replace="~{teacher/elements :: teacher-form}"></div>
                        <!-- ======= Buttons ======= -->
                        <div th:replace="~{teacher/buttons :: EDITcancelSubmitBtn}"></div>
                    </form>
                </div>
            </div>
        </section>
    </div>
</main>

<!-- JS Scripts -->
<div th:replace="~{fragments/scripts :: scripts}"></div>
<script type="text/javascript" th:src="@{/js/select-all.js}"></script>
</body>
</html>