<section id="about" class="about">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2 th:text="#{home.about.heading}"></h2>
            <p th:text="#{home.about.us}"></p>
        </div>
        <div class="row content">
            <div class="col-lg-6">
                <p th:text="#{home.about.col1.desc}"></p>
                <ul>
                    <li><i class="fas fa-check"></i><span th:text="#{home.about.col1.check1}"></span>
                    </li>
                    <li><i class="fas fa-check"></i><span th:text="#{home.about.col1.check2}"></span>
                    </li>
                    <li><i class="fas fa-check"></i><span th:text="#{home.about.col1.check3}"></span>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0">
                <p th:text="#{home.about.col2.desc}"></p>
                <a href="#" class="btn-learn-more" th:text="#{home.about.col2.button}"></a>
            </div>
        </div>
    </div>
</section>