<section id="counts" class="counts">
  <div class="container" data-aos="fade-up">

    <div class="row no-gutters">

      <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
        <div class="count-box">
          <i class="far fa-smile"></i>
          <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1"
                class="purecounter"></span>
          <p><strong th:text="#{home.counts.box1.heading}"></strong>
          <div th:text="#{home.counts.box1.desc}"></div>
          </p>
          <a href="#" th:text="#{home.counts.button} + ' &raquo;'"></a>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
        <div class="count-box">
          <i class="fas fa-book-open"></i>
          <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1"
                class="purecounter"></span>
          <p><strong th:text="#{home.counts.box2.heading}"></strong>
          <div th:text="#{home.counts.box2.desc}"></div>
          </p>
          <a href="#" th:text="#{home.counts.button} + ' &raquo;'"></a>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
        <div class="count-box">
          <i class="fas fa-headset"></i>
          <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1"
                class="purecounter"></span>
          <p><strong th:text="#{home.counts.box3.heading}"></strong>
          <div th:text="#{home.counts.box3.desc}"></div>
          </p>
          <a href="#" th:text="#{home.counts.button} + ' &raquo;'"></a>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
        <div class="count-box">
          <i class="fas fa-users"></i>
          <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1"
                class="purecounter"></span>
          <p><strong th:text="#{home.counts.box4.heading}"></strong>
          <div th:text="#{home.counts.box4.desc}"></div>
          </p>
          <a href="#" th:text="#{home.counts.button} + ' &raquo;'"></a>
        </div>
      </div>
    </div>
  </div>
</section>