<body xmlns:sec="http://www.w3.org/1999/xhtml">
<div th:fragment="nav-white">
    <link rel="stylesheet" th:href="@{/css/navBar.css}" type="text/css"/>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center justify-content-between">
            <h1 class="logo"><a href="" th:text="#{navbar.app.name}"></a></h1>
            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto active" href="#hero" th:text="#{navbar.home}"></a></li>
                    <li><a class="nav-link scrollto" href="#about" th:text="#{navbar.about}"></a></li>
                    <li><a class="nav-link scrollto" href="#services" th:text="#{navbar.services}"></a></li>
                    <li><a class="nav-link scrollto" href="#pricing" th:text="#{navbar.pricing}"></a></li>
                    <li><a class="getstarted" sec:authorize="isAuthenticated()" th:href="@{/dashboard}"
                           th:text="#{navbar.dashboard}"></a></li>
                    <li><a class="getstarted" sec:authorize="!isAuthenticated()" th:href="@{/sign-up}"
                           th:text="#{navbar.get.started}"></a></li>
                </ul>
                <i class="fas fa-bars mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->
</div>
</body>