<section id="services" class="services">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2 th:text="#{home.services.header.h2}"></h2>
            <p th:text="#{home.services.header.desc}"></p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box">
                    <div class="icon"><i class="bx bxl-dribbble"></i></div>
                    <h4><a href="" th:text="#{home.services.card1.header}"></a></h4>
                    <p th:text="#{home.services.card1.desc}"></p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in"
                 data-aos-delay="200">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-file"></i></div>
                    <h4><a href="" th:text="#{home.services.card2.header}"></a></h4>
                    <p th:text="#{home.services.card2.desc}"></p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in"
                 data-aos-delay="300">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-tachometer"></i></div>
                    <h4><a href="" th:text="#{home.services.card3.header}"></a></h4>
                    <p th:text="#{home.services.card3.desc}"></p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-world"></i></div>
                    <h4><a href="" th:text="#{home.services.card4.header}"></a></h4>
                    <p th:text="#{home.services.card4.desc}"></p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-slideshow"></i></div>
                    <h4><a href="" th:text="#{home.services.card5.header}"></a></h4>
                    <p th:text="#{home.services.card5.desc}"></p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-arch"></i></div>
                    <h4><a href="" th:text="#{home.services.card6.header}"></a></h4>
                    <p th:text="#{home.services.card6.desc}"></p>
                </div>
            </div>

        </div>

    </div>
</section>