<!-- ======= Student buttons ======= -->
<!-- Cancel and Submit form buttons -->
<div id="studentCancelSubmitBtn" class="row my-2 justify-content-end">
  <div class="col-auto">
    <a class="btn btn-secondary" th:href="@{/dashboard/students}">
      <i class="fa fa-times-circle mr-2"></i><span th:text="#{button.cancel}"></span></a>
  </div>
  <div class="col-auto">
    <button type="submit" name="add" class="btn btn-primary">
      <i class="fas fa-check mr-2"></i><span th:text="#{button.submit}"></span></button>
  </div>
</div>

<!-- Edit and Delete buttons -->
<div id="studentEditDeleteBtn" class="row my-2 justify-content-end">
  <div class="col-auto">
    <a class="btn btn-outline-primary" th:href="@{/dashboard/students/edit/{id}(id=${student.id})}">
      <i class="fas fa-pen mr-2"></i><span th:text="#{button.edit}"></span>
    </a>
  </div>
  <div class="col-auto">
    <a class="btn btn-outline-danger delBtn"
       th:href="@{/dashboard/students/delete/{id}(id=${student.id})}">
      <i class="fa fa-trash-can fa-lg mr-2"></i><span th:text="#{button.delete}"></span>
    </a>
  </div>
</div>

<!-- Go Back button -->
<div id="studentGoBackBtn" class="row my-2 justify-content-center">
  <div class="col-auto">
    <a class="btn btn-primary" th:href="@{/dashboard/students}">
      <i class="fas fa-home mr-2"></i><span th:text="#{button.go.back}"></span>
    </a>
  </div>
</div>

<!-- =======
Subject buttons
 ======= -->

<!-- Cancel and Submit form buttons -->
<div th:fragment="subjectCancelSubmitBtn" id="subjectCancelSubmitBtn" class="row my-2 justify-content-end">
  <div class="col-auto">
    <a class="btn btn-secondary" th:href="@{/dashboard/subjects}">
      <i class="fa fa-times-circle mr-2"></i><span th:text="#{button.cancel}"></span></a>
  </div>
  <div class="col-auto">
    <button type="submit" name="add" class="btn btn-primary">
      <i class="fas fa-check mr-2"></i><span th:text="#{button.submit}"></span></button>
  </div>
</div>

<!-- Edit and Delete buttons -->
<div th:fragment="subjectEditDeleteBtn" id="subjectEditDeleteBtn" class="row my-2 justify-content-end">
  <div class="col-auto">
    <a class="btn btn-outline-primary" th:href="@{/dashboard/subjects/edit/{id}(id=${subject.id})}">
      <i class="fas fa-pen mr-2"></i><span th:text="#{button.edit}"></span>
    </a>
  </div>
  <div class="col-auto">
    <a class="btn btn-outline-danger delBtn"
       th:href="@{/dashboard/subjects/delete/{id}(id=${subject.id})}">
      <i class="fa fa-trash-can fa-lg mr-2"></i><span th:text="#{button.delete}"></span>
    </a>
  </div>
</div>

<!-- Go Back button -->
<div th:fragment="subjectGoBackBtn" id="subjectGoBackBtn" class="row my-2 justify-content-center">
  <div class="col-auto">
    <a class="btn btn-primary" th:href="@{/dashboard/subjects}">
      <i class="fas fa-home mr-2"></i><span th:text="#{button.go.back}"></span>
    </a>
  </div>
</div>

<!-- ======= Home-page buttons ======= -->
<!-- back-to-top buttons -->
<div id="backToTopBtn">
  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
          class="bi bi-arrow-up-short"></i></a>
</div>

<!-- ======= Modals buttons ======= -->
<!-- delete modal buttons -->
<div th:fragment="deleteModalButtons" id="deleteModalButtons" class="row my-2 justify-content-end">
  <div class="col-auto">
    <a class="btn btn-secondary" href="" data-bs-dismiss="modal">
      <i class="fa fa-times-circle mr-2"></i><span th:text="#{button.cancel}"></span></a>
  </div>
  <div class="col-auto">
    <a id="delRef" class="btn btn-danger"
       href="">
      <i class="fa fa-trash-can fa-lg mr-2"></i><span th:text="#{button.delete}"></span></a>
  </div>
</div>

<!-- view modal button -->
<div th:fragment="viewModalButtons" id="viewModalButtons" class="row my-2 justify-content-end">
  <div class="col-auto">
    <a class="btn btn-secondary" href="" data-bs-dismiss="modal">
      <i class="fa fa-times-circle mr-2"></i><span th:text="#{button.close}"></span></a>
  </div>
</div>