<!DOCTYPE html>
<html lang="en">
<head>
    <header th:replace="~{fragments/header :: header}"></header>
</head>
<body xmlns:sec="http://www.w3.org/1999/xhtml">

<section class="d-flex align-items-center min-vh-100 py-5">
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-md-6 order-md-2">
                <div class="lc-block">
                    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                    <lottie-player src="https://assets9.lottiefiles.com/packages/lf20_kcsr6fcp.json"
                                   background="transparent" speed="1" loop="" autoplay=""></lottie-player>
                </div><!-- /lc-block -->
            </div><!-- /col -->
            <div class="col-md-6 text-center text-md-start ">
                <div class="lc-block mb-3">
                    <div editable="rich">
                        <h1 class="fw-bold h4" th:text="#{error.notFound.header}"><br></h1>
                    </div>
                </div>
                <div class="lc-block mb-3">
                    <div editable="rich">
                        <h1 class="display-1 fw-bold text-muted" th:text="#{error.notFound.code}"></h1>
                    </div>
                </div><!-- /lc-block -->
                <div class="lc-block mb-5">
                    <div editable="rich">
                        <p class="rfs-11 fw-light" th:text="#{error.notFound.desc}"></p>
                    </div>
                </div><!-- /lc-block -->
                <div class="lc-block">
                    <a sec:authorize="!isAuthenticated()" class="btn btn-lg btn-primary" th:href="@{/}" role="button"
                       th:text="#{error.homepage}"></a>
                    <a sec:authorize="isAuthenticated()" class="btn btn-lg btn-primary" th:href="@{/dashboard}"
                       role="button" th:text="#{error.dashboard}"></a>
                </div><!-- /lc-block -->
            </div><!-- /col -->
        </div>
    </div>
</section>
<div th:replace="~{fragments/scripts :: scripts}"></div>
</body>
</html>