<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <header th:replace="~{fragments/header :: header}"></header>
    <!--/* Custom CSS */-->
    <link rel="stylesheet" th:href="@{/css/home-unauthorized.css}" type="text/css"/>
</head>

<body>
<div th:replace="~{home-page/navBar-white :: nav-white}"></div>

<!-- ======= Hero Section ======= -->
<div th:replace="~{home-page/hero :: #hero}"></div>

<!-- ======= About Section ======= -->
<div th:replace="~{home-page/about :: #about}"></div>

<!-- ======= Counts Section ======= -->
<div th:replace="~{home-page/counts :: #counts}"></div>

<!-- ======= Why Us Section ======= -->
<div th:replace="~{home-page/why-us :: #why-us}"></div>

<!-- ======= Cta Section ======= -->
<div th:replace="~{home-page/cta :: #cta}"></div>

<!-- ======= Services Section ======= -->
<div th:replace="~{home-page/services :: #services}"></div>

<!-- ======= Cta Section ======= -->
<div th:replace="~{home-page/cta :: #cta}"></div>

<!-- ======= Pricing Section ======= -->
<div th:replace="~{home-page/pricing :: #pricing}"></div>

<!-- ======= Footer ======= -->
<div th:replace="~{home-page/home-footer :: #footer}"></div>

<div th:replace="~{fragments/buttons :: #backToTopBtn}"></div>

<!--/* JS Scripts */-->
<div th:replace="~{fragments/scripts :: scripts}"></div>

<!--/* Custom Script */-->
<script type="text/javascript" th:src="@{/js/home-unauthorized.js}"></script>
</body>
</html>